/*@charset "utf-8";*/

@import "vars";

body {
  -webkit-user-select: text ;
  overflow-y: scroll !important ;
  margin: 0 ;
  position: relative ;
  line-height: 1.4;

  @include is-dark-mode {
    background: $background-dark;
  }

  @include is-light-mode {
    background: $background-light;
  }
}

#optionBar {
  -webkit-user-select: none ;
  display: block ;
  position: absolute ;
  top: 9px ;
  right: 17px ;
}

#buttonFormatted, #buttonPlain {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;

  @include is-light-mode {
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    color: #444;
  }

  @include is-dark-mode {
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    color: $foreground-dark;
  }
  
  border: 1px solid #aaa;
  font-size: 12px ;
  margin-bottom: 0px;
  min-width: 4em;
  /*padding: 3px 12px 3px 12px;*/
  padding: 3px 0 ;
  position: relative ;
  z-index: 10;
  display: inline-block ;
  width: 80px ;
  text-shadow: 1px 1px rgba(255,255,255,0.3) ;
}

#buttonFormatted {
  margin-left: 0 ;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
}
#buttonPlain {
  margin-right: 0 ;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
  border-right: none ;
}

#buttonFormatted:hover, #buttonPlain:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

  @include is-light-mode {
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    color: #222;
    border-color: #999;
  }
  @include is-dark-mode {
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    color: $foreground-dark;
  }
}

#buttonFormatted:active,
#buttonPlain:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  @include is-light-mode {
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
  }

  @include is-dark-mode {
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    color: $foreground-dark;
  }
}

#buttonFormatted.selected,
#buttonPlain.selected {
  @include is-light-mode {
    -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#e4e4e4, #dfdfdf 40%, #dcdcdc);
    color: #333;
  }

  @include is-dark-mode {
    background: black;
    color: $foreground-dark;
  }
}

#buttonFormatted:focus,
#buttonPlain:focus {
  outline: 0;
}


#jsonpOpener,
#jsonpCloser {
  padding: 4px 0 0 8px ;
  margin-bottom: -6px ;

  @include is-dark-mode {
    color: $toggle-dark;
  }
  
  @include is-light-mode {
    color: $toggle-light;
  }
}

#jsonpCloser {
  margin-top: 0 ;
}

#formattedJson {
  padding-left: 28px ;
  padding-top: 6px ;
}
pre {
  padding: 36px 5px 5px 5px ;
  font-family: 'Cascadia Code', 'Jetbrains Mono', monospace;

  @include is-dark-mode {
    color: $foreground-dark;
  }
  
  @include is-light-mode {
    color: $foreground-light;
  }
}


.kvov {
  display: block ;
  padding-left: 20px ;
  margin-left: -20px ;
  position: relative ;
}

.collapsed {
  white-space: nowrap ;
  &> .blockInner  {
    display: none ; 
  }
  &> .ell:after  {
    content: "…" ; 
    font-weight: bold ;
  }
  &> .ell {
    margin: 0 4px ;

    @include is-dark-mode {
      color: $foreground-dark;
    }
    
    @include is-light-mode {
      color: $foreground-light;
    }
  }
  .kvov {
    display: inline ;
  }
}

.e {
  width: 20px ;
  height: 18px ;
  display: block ;
  position: absolute ;
  left: -2px ;
  top: 1px ;
  z-index: 5 ;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpiYGBgOADE%2F3Hgw0DM4IRHgSsDFOzFInmMAQnY49ONzZRjDFiADT7dMLALiE8y4AGW6LoBAgwAuIkf%2F%2FB7O9sAAAAASUVORK5CYII%3D") ;
  background-repeat: no-repeat ;
  background-position: center center; 
  display: block ;
  opacity: 0.75 ;
  // -webkit-transition: -webkit-transform 0.05s linear ;

  @include is-dark-mode {
    filter: invert(1);
  }

  .collapsed > & {
    -webkit-transform: rotate(-90deg) ;
    width: 18px ;
    height: 20px ;
    
    left: 0px ;
    top: 0px ;
  }

  &:hover {
    opacity: 0.35 ;

    @include is-dark-mode {
      opacity: 0.9;
    }
  }

  &:active {
    opacity: 0.5 ;
    
    @include is-dark-mode {
      opacity: 1 ;

    }
  }

  /* .e that are *inside* the children of a collapsed one */
  .collapsed .kvov & {
    display: none ;
  }
}

.blockInner {
  display: block ;
  padding-left: 24px ;
  border-left: 1px dotted #bbb ;
  margin-left: 2px ; 
}


/* SYNTAX HIGHLIGHTING */

  #formattedJson, #jsonpOpener, #jsonpCloser {
    @include is-dark-mode {
      color: $foreground-dark;
    }
    
    @include is-light-mode {
      color: $foreground-light;
    }

    font-size: 1.1rem;
    font-family: 'Comic Mono', 'Cascadia Code', 'Jetbrains Mono', monospace;
  }

  #formattedJson {
    @include is-dark-mode {
      color: $foreground-dark;
    }
    
    @include is-light-mode {
      color: $foreground-light;
    }
  }
  .b /* Bracket/brace */ {
    font-weight: bold ;

    @include is-dark-mode {
      color: $punctuation-dark;
    }
    
    @include is-light-mode {
      color: $punctuation-light;
    }
  }
  .s { // string
    @include is-dark-mode {
      color: $color-string-dark;
    }
    
    @include is-light-mode {
      color: $color-string-light;
    }

    word-wrap: break-word; 
  }
  a:link, a:visited {
    text-decoration: none ;
    color: inherit ;
  }
  a:hover, a:active {
    text-decoration: underline ;
    
    @include is-light-mode {
      color: $link-hover-light ;
    }
    
    @include is-dark-mode {
      color: $link-hover-dark ;
    }
  }
  .bl, .nl, .n { /* bool, null, number */
    font-weight: bold ;

    @include is-dark-mode {
      color: $color-bool-dark;
    }
    
    @include is-light-mode {
      color: $color-bool-light;
    }
  }
  .k { /* key */
    @include is-dark-mode {
      color: $color-key-dark;
    }
    
    @include is-light-mode {
      color: $color-key-light;
    }
  }

#formattingMsg {
  font: 13px "Lucida Grande", "Segoe UI", "Tahoma" ;
  padding: 10px 0 0 8px ;
  margin: 0 ;
  color: #333 ;
}
  #formattingMsg > svg {
    margin: 0 7px ;
    position: relative ;
    top: 1px ;
  }


/* Misc */
[hidden] {
  display: none !important ;
}
span {
  white-space: pre-wrap ;
}

/* Spinner */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#spinner {
  -webkit-animation: spin 2s 0 infinite ;
}